* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
}
/* div que contiene todas las recetas */
.cards_container {
  margin-top: 100px;
}

.card {
  float: left;
  width: 350px;
  height: 400px;
  margin: 20px;
  cursor: pointer;
}
.card_header {
  color: white;
  height: 300px;
  text-align: center;
  font-size: 30px;
  line-height: 100px;
}
.card_image {
  height: 300px;
  width: 350px;
  border-radius: 30px 30px 0px 0px;
}
.card_footer {
  height: 100px;
  border: 1px solid lightgray;
  border-radius: 0px 0px 30px 30px;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}
.boton_eliminar_fav {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-color: #fbd92b;
}

/* menu principal */
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: lightgray;
  color: white;
  font-size: 20px;
  line-height: 100px;
}
/* logo del menu principal */
.logo {
  margin: 10px 0px 0px 20px;
  height: 80px;
  border-radius: 30px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu ul li {
  float: left;
}
.menu ul li a {
  padding: 8px;
}
/* input de búsqueda de recetas */
.search {
  border-radius: 5px;
  border: 0px;
  height: 50px;
  width: 600px;
  margin: 0 10px 0 40px;
  color: grey;
  padding-left: 10px;
  font-size: 16px;
}
/* botón de búsqueda de recetas */
.search_button {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
}
/* boton carrito */
.favorite_button {
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  width: 50px;
  /* border: none; */
  border-radius: 30px;
  background-color: #fbd92b;
}
.menu ul .li_right {
  float: right;
  margin-right: 3%;
}
/* botón añadir receta */
.add_button {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: #fbd92b;
  position: fixed;
  top: 90%;
  left: 50%;
}
/* formulario añadir y modificar receta */
.formulario {
  border: 1px solid lightgray;
  height: 55%;
  width: 30%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  -moz-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  z-index: 10;
}
.form_header {
  background-color: #fbd92b;
  height: 60px;
  color: grey;
  text-align: center;
  line-height: 60px;
}
.form_body {
  width: 83%;
  padding: 40px;
}
.form_body label {
  font-weight: bold;
  display: block;
  margin-bottom: 1.5%;
}
.form_body input {
  background-color: #fffcdc;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 4%;
}
.form_body textarea {
  background-color: #fffcdc;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 100px;
  width: 98%;
  padding: 10px;
  margin-bottom: 4%;
  resize: none;
  text-align: justify;
}
.form_body select {
  background-color: #fffcdc;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 35px;
  width: 102%;
  padding-left: 10px;
  margin-bottom: 4%;
}
.form_footer {
  height: 40px;
  text-align: center;
}
.form_footer input[type="button"] {
  width: 40%;
  height: 100%;
  margin-right: 10px;
  background-color: #fbd92b;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}
.form_footer button {
  width: 40%;
  height: 100%;
  margin-right: 10px;
  -webkit-box-shadow: -1px 0px 12px -4px rgba(145, 145, 145, 0.66);
  -moz-box-shadow: -1px 0px 12px -4px rgba(145, 145, 145, 0.66);
  box-shadow: -1px 0px 12px -4px rgba(145, 145, 145, 0.66);
  cursor: pointer;
  border: none;
  font-size: 16px;
}
.form_footer input[type="button"]:last-child {
  background-color: lightgray;
}

/* formato de cada receta */
.receta_container {
  margin-top: 100px;
  border: 1px solid lightgray;
  height: 40%;
  width: 60%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  -moz-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
}
.receta_image {
  height: 100%;
  float: right;
  width: 50%;
}
.receta_image > img {
  height: 100%;
  width: 100%;
}
.receta_body > h1 {
  height: 60px;
  background-color: #fbd92b;
  text-align: center;
  margin-bottom: 20px;
  line-height: 60px;
}
.receta_body {
  height: 100%;
  width: 50%;
}
.receta_buttons {
  margin: 0 10px 0 20px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: lightgray;
  font-size: 20px;
  color: white;
  pointer-events: none;
}
.general_container {
  height: 10%;
}
.receta_text_buttons {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.receta_text_buttons > span {
  margin-top: 10px;
  display: block;
}
.receta_button_container {
  display: inline-block;
}
.texto_negrita {
  font-weight: bold;
}
.receta_descripcion {
  margin-top: 10px;
}
.header_descripcion {
  height: 60px;
  background-color: lightgrey;
  line-height: 60px;
  text-align: center;
}
.preparacion {
  line-height: 2em;
  text-align: justify;
  margin: 15px;
}
.menu_lateral {
  height: 22%;
  width: 10%;
  background-color: #db4361;
  margin-left: 16%;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
  -webkit-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  -moz-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  border-radius: 6px;
}
.menu_lateral > button {
  margin: 20px;
  display: block;
}
.menu_lateral > button:focus {
  outline: none;
}
.menu_lateral_buttons {
  margin: 0 10px 0 20px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
}
/* formulario editar tarea */
.modal_editar_receta {
  visibility: hidden;
  border: 1px solid lightgray;
  height: 600px;
  width: 600px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  -moz-box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  box-shadow: 4px 6px 54px -1px rgba(158, 158, 158, 1);
  z-index: 10;
}
.formulario_modificar {
  visibility: hidden;
}
